body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(-45deg, rgb(182, 190, 132), rgb(166, 219, 221));
}

#container {
    display: inline-flex;
    position: relative;
    border: 1px solid seagreen;
    border-radius: 3px;
    height: 300px;
    width: 560px;
    margin: 20px 0 0 100px;
    background-color: rgb(238, 240, 235);
}

#grid {
    display: inline-flex;
    position: relative;
    margin: 40px 20px;
}

.column {
    display: inline-block;
    text-align: center;
    font-size: 3.5em;
}

.square {
    position: relative;
    height: 75px;
    width: 75px;
}

.left {
    border-right: 2px solid black;
}

.right {
    border-left: 2px solid black;
}

.top {
    border-bottom: 2px solid black;
}

.bottom {
    border-top: 2px solid black;
}

#panel {
    display: inline-block;
    position: relative;
    margin: 40px;
}

button {
    background-color: lemonchiffon;
    border: 2px solid #C0C0C0;
}

#panel div, button {
    height: 70px;
    width: 200px;
    margin: 10px 0;
}

button:focus {
    border-style: none;
}

button:hover {
    background-color: rgb(221, 217, 179);
}

#status {
    display: block;
    position: relative;
    margin: 15px 0 0 100px;
    height: 50px;
    width: auto;

}