body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    display: inline-flex;
    border: 1px solid seagreen;
}

#grid {
    display: inline-flex;
    position: relative;
    margin: 40px 20px;
}

.column {
    display: inline-block;
    text-align: center;
    font-size: 3.5em;
}

.square {
    position: relative;
    height: 75px;
    width: 75px;
}

.left {
    border-right: 2px solid black;
}

.right {
    border-left: 2px solid black;
}

.top {
    border-bottom: 2px solid black;
}

.bottom {
    border-top: 2px solid black;
}

#panel {
    display: inline-block;
    position: relative;
    border: 1px solid gray;
    margin: 40px;
}

#panel div, button {
    height: 70px;
    width: 200px;
    margin: 10px 0;
}

button:focus {
    border-style: none;
}

#status {
    display: block;
    position: relative;
    margin-top: 5px;
    height: 50px;
    width: auto;

}