#grid {
    margin-top: 40px;
}

.column {
    display: inline-block;
}

.square {
    position: relative;
    height: 75px;
    width: 75px;
}

.left {
    border-right: 2px solid black;
    margin-right: -4px;
}

.right {
    border-left: 2px solid black;
    margin-left: -4px;
}

.top {
    border-bottom: 2px solid black;
}

.bottom {
    border-top: 2px solid black;
}